<%= form_with(model: shift_confirmation) do |form| %>
  <% if shift_confirmation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(shift_confirmation.errors.count, "error") %> prohibited this shift_confirmation from being saved:</h2>

      <ul>
        <% shift_confirmation.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
