<%= form_with(model: working_week) do |form| %>
  <% if working_week.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(working_week.errors.count, "error") %> prohibited this working_week from being saved:</h2>

      <ul>
        <% working_week.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
