/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

// boostrap
@import "bootstrap/custom/colors.scss";
@import "bootstrap";

// icons
@import "font-awesome-sprockets";
@import "font-awesome";

// add custom font
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300&display=swap');

body {
    background-color: #F6F6F6;
    font-family: 'Space Grotesk', sans-serif  !important;
    font-size: 16px;
}

.wrapper {
    display: flex;
    align-items: stretch;
}

#content {
    width: 100%;
}

.card {
    margin-top: 20px;
}

.col-form-label {
    font-weight: bold;
}

@media (max-width: 768px) {
    .card {
        padding: 0px !important;
    }

    .card-body {
        padding: 0.8rem;
    }

    .Vue-Toastification__container.top-right
    .Vue-Toastification__toast,
    .Vue-Toastification__container.bottom-right
    .Vue-Toastification__toast {
        margin-left: auto;
        max-width: 60%;
    }
}
