
@import "colors";

.top-navbar {
    background-color: $topbar-color;
    width: 100%;
    margin-bottom: 35px;


    .dropdown-item {
        padding: 10px;
    }

    .left-nav-item .dropdown-menu-right {
        right: 0 !important;
        left: 0 !important;
    }

    .nav-link:hover {
        text-decoration: none;
        background: $topbar-color;
    }
}

.navbar-light .navbar-nav .nav-link {
    color: rgb(255, 255, 255) !important;
    font-size: 16px;
}

.navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:focus {
    color: rgba(255, 255, 255, .7) !important;;
}

.navbar-brand{
    color: #1ABB9C !important;
}

.navbar-brand:hover{
    background: $topbar-color;
}